.content {
  padding: 10em 0em;
}

.cards-overview {
  margin-bottom: 2em!important;
}

.search {
  margin: 1.5em 0em;
}

.rw-dropdown-list {
  margin-bottom: 2em!important;
}

.rw-input-reset {
  border: none!important;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.results {
  width: 100%!important;
}
